<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdhhrH_cvmxqpITL1VRYW_uan_7UrrIC0</string>
	<key>GCM_SENDER_ID</key>
	<string>434678388315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brand.greenlife</string>
	<key>PROJECT_ID</key>
	<string>greenlife-f2d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>greenlife-f2d2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434678388315:ios:08eb9caf79c48403a6517e</string>
</dict>
</plist>